<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Inicio']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="well">
        <h1>Facturas</h1>
        <div class="row">
          <a class="btn btn-primary" data-toggle="modal" data-target="#modalcrud">Nuevo</a>
        </div>
        <table fbg-datatable [options]="{ order: [[ 1, 'asc' ]]}" paginationLength="15" class="table table-stripped">
          <thead>
            <tr>
              <th class="acciones">AGREGAR COMPRA</th>
              <th>Codigo</th>
              <th>cliente</th>
              <th>fecha</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let factura of facturas;">
              <td class="acciones">
                <a class="fa fa-eye btn btn-default btn-sm fa-lg"  placement="top" tooltip="Add Rol" routerLink="../facturadetalle/{{factura.pruFacCodigo}}"></a>
              </td>
              <td>{{factura.pruFacCodigo}}</td>
              <td>{{factura.pruFacCliente}}</td>
              <td>{{factura.pruFacFecha}}</td>
              <td>{{factura.pruFacTota}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- _____________________________________________________________________-->

  <div class="modal" bsModal id="modalcrud">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Nuevo</h4>
        </div>
        <div class="modal-body">
          <form (submitEvent)="createFactura()" class="form-horizontal">
            <fieldset>
              <div class="form-group">
                <label class="col-lg-4 control-label text-left">Cliente</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" [(ngModel)]="factura.pruFacCliente" name="pruFacCliente">
                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="form-group">
                <label class="col-lg-4 control-label">Fecha Factura</label>
                <div class="col-lg-8">
                  <div class="input-group">
                    <input type="text" placeholder="Fecha" class="form-control datepicker disabled" (valueUpdated)="setFecha($event)" name="fechaDescarga"
                      icon="true" required [saUiDatepicker]="{
                                        dateFormat: 'dd/mm/yy'}">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input class="form-control disabled clockpicker" smartClockpicker type="text" (valueUpdated)="setHora($event)" placeholder="Hora"
                      name="horaDescarga" icon="true" required>
                    <span class="input-group-addon time"><i class="fa fa-clock-o"></i></span>
                  </div>
                </div>
              </div>
            </fieldset>




            <!--   

            <fieldset>
              <div class="form-group">
                <label class="col-lg-4 control-label text-left">Total a pagar</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" [(ngModel)]="factura.pruFacTota" name="pruFacTota">
                </div>
              </div>
            </fieldset>
-->







            <fieldset>
              <div class="form-actions">
                <div class="pull-left">
                  <div class="col-md-12">
                    <button class="btn btn-primary" type="submit" (click)="createFactura()">
                               Guardar
                           </button>
                    <button class="btn btn-danger" type="button">
                               Cancelar
                           </button>
                  </div>
                </div>
                <div style="clear:both"></div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>