<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Inicio']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="well">
        <h1>Bienvenido</h1>
        <em>Proyecto base de angular sin autenticación</em>
        <ul>
          <li *ngFor="let todo of personas">
            <b>{{todo.id}}</b> - {{todo.name}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--
<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Inicio']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="well">
        <h1>Lista de usuarios</h1>

        <div class="row">
          <a class="btn btn-primary" data-toggle="modal" data-target="#modal">Nuevo</a>
        </div>


        <table fbg-datatable [options]="{ order: [[ 1, 'asc' ]]}" paginationLength="15" class="table table-stripped">
          <thead>
            <tr>
              <th class="acciones">Acciones</th>
              <th>id</th>
              <th>NAME</th>
              <th>USER NAME</th>
              <th>EMAIL</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let todo of personas;">
              <td class="acciones">
                <a class="fa fa-eye btn btn-default btn-sm fa-lg" (click)="setPersona(persona)" placement="top" tooltip="Add Rol" data-target="#modalRol"
                  data-toggle="modal"></a>
              </td>
              <td>{{todo.id}}</td>
              <td>{{todo.name}}</td>
              <td>{{todo.username}}</td>
              <td>{{todo.email}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
-->

  <!-- _____________________________________________________________________-->

  <div id="content">
    <div class="row">
      <sa-big-breadcrumbs [items]="['Inicio']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="well">
          <h1>Lista de usuarios</h1>

          <div class="row">
            <a class="btn btn-primary" data-toggle="modal" data-target="#modalcrud">Nuevo</a>
          </div>


          <table fbg-datatable [options]="{ order: [[ 1, 'asc' ]]}" paginationLength="15" class="table table-stripped">
            <thead>
              <tr>
                <th class="acciones">EDITAR</th>
                <th class="acciones">ELIMINAR</th>
                <th>id</th>
                <th>NAME</th>
                <th>USER NAME</th>
                <th>EMAIL</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios;">
                <td class="acciones">
                  <a class="fa fa-eye btn btn-default btn-sm fa-lg" (click)="setUsuario(usuario)" placement="top" tooltip="Add Rol" data-target="#modalRol1"
                    data-toggle="modal"></a>
                </td>
                <td class="acciones">
                  <a class="fa fa-eye btn btn-default btn-sm fa-lg" (click)="setUsuario(usuario)" placement="top" tooltip="Add Rol" data-target="#modalRol2"
                    data-toggle="modal"></a>
                </td>
                <td>{{usuario.id}}</td>
                <td>{{usuario.name}}</td>
                <td>{{usuario.username}}</td>
                <td>{{usuario.email}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- _____________________________________________________________________-->

    <div class="modal" bsModal id="modalcrud">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Nuevo</h4>
          </div>
          <div class="modal-body">
            <form (submitEvent)="createUsuario()" class="form-horizontal">
              <fieldset>
                <div class="form-group">
                  <label class="col-lg-4 control-label text-left">Ingreso Id</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control" [(ngModel)]="usuario.id" name="ids">
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="form-group">
                  <label class="col-lg-4 control-label text-left">Ingreso Nombre</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control" [(ngModel)]="usuario.name" name="ids">
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="form-group">
                  <label class="col-lg-4 control-label text-left">Ingreso UserName</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control" [(ngModel)]="usuario.username" name="ids">
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="form-group">
                  <label class="col-lg-4 control-label text-left">Ingreso EMAIL</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control" [(ngModel)]="usuario.email" name="ids">
                  </div>
                </div>
              </fieldset>

              <fieldset>
                <div class="form-actions">
                  <div class="pull-left">
                    <div class="col-md-12">
                      <button class="btn btn-primary" type="submit" (click)="createUsuario()">
                               Guardar
                           </button>
                      <button class="btn btn-danger" type="button">
                               Cancelar
                           </button>
                    </div>
                  </div>
                  <div style="clear:both"></div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>


<!-- _____________________________________________________________________-->

<div class="modal" bsModal id="modalRol1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Nuevo</h4>
        </div>
        <div class="modal-body">
          <form (submitEvent)="addProvinicia()" class="form-horizontal">
            <fieldset>
              <div class="form-group">
                <label class="col-lg-4 control-label text-left">USUARIO ID</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" [(ngModel)]="usuario.id" name="nombre">
                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="form-group">
                <label class="col-lg-4 control-label text-left">Nombre </label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" [(ngModel)]="usuario.name" name="nombre">
                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="form-group">
                <label class="col-lg-4 control-label text-left">User Name</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" [(ngModel)]="usuario.username" name="nombre">
                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="form-group">
                <label class="col-lg-4 control-label text-left">EMAIL </label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" [(ngModel)]="usuario.email" name="nombre">
                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="form-actions">
                <div class="pull-left">
                  <div class="col-md-12">
                    <button class="btn btn-primary" type="submit" (click)="editarUsuario()">
                               Guardar
                           </button>
                    <button class="btn btn-danger" type="button" data-dismiss="modal">
                               Cancelar
                           </button>
                  </div>
                </div>
                <div style="clear:both"></div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- _____________________________________________________________________-->
<div class="modal" bsModal id="modalRol2">
    <div class="modal-dialog">
      
        <div class="modal-body">
           <fieldset>
              <div class="form-actions">
                <div class="pull-left">
                  <div class="col-md-12">
                    <button class="btn btn-primary" type="submit" (click)="eliminarUsuario(id)">
                               eliminar
                           </button>
                    <button class="btn btn-danger" type="button" data-dismiss="modal">
                               Cancelar
                           </button>
                  </div>
                </div>
                <div style="clear:both"></div>
              </div>
            </fieldset>
          
        </div>
      </div>
  </div>


  </div>